{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load pagination_tags %}
{% block content %} 
<h1>{% trans "Inbox" %}</h1>
{% autopaginate conversations %}
{% if conversations %}
<form action="{% url messages_delete %}" method="post" id="f_messages_delete">{% csrf_token %}
    <ul>
        <li><a href="#">{% trans "Select all" %}</a></li>  {# FIXME #}
        <li><input type="submit" name="submit" value="{% trans 'Delete selected conversation(s)' %}" /></li>
    </ul>
    <table class="messages">
        <thead>
            <tr><th colspan="2">{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th></tr>
        </thead>
        <tbody>
    {% for message in conversations %} 
        <tr>
            <td><input type="checkbox" name="ids" value="{{ message.conversation_id }}" /></td>
            <td>{{ message.sender }}</td>
            <td>
            {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
            {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}</td>
            </td>
            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</form>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
{% endblock %}
