{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load pagination_tags %}
{% block content %} 
<h1>{% trans "Deleted Messages" %}</h1>
{% autopaginate conversations %}
{% if conversations %} 
<form action="{% url messages_undelete %}" method="post" id="f_messages_undelete">
    <ul>
        <li><a href="#">{% trans "Select all" %}</a></li>  {# FIXME #}
        <li><input type="submit" name="submit" value="{% trans 'Undelete selected conversation(s)' %}" />{% csrf_token %}</li>
    </ul>
    <table class="messages">
        <thead>
            <tr><th colspan="2">{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th></tr>
        </thead>
        <tbody>
    {% for message in conversations %} 
        <tr>
            <td><input type="checkbox" name="ids" value="{{ message.conversation_id }}" /></td>
            <td>{{ message.sender }}</td>
            <td> 
            {{ message.subject }}
            </td>
            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</form>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />
<p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
{% endblock %}
